<section class="content-header">
  <h1>
    Book
    <small>Restricted area</small>
  </h1>
  <!--<ol class="breadcrumb">-->
  <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
  <!--<li><a href="#">Forms</a></li>-->
  <!--<li class="active">General Elements</li>-->
  <!--</ol>-->
</section>

<section class="content">

  <div class="row">

    <div class="col-md-12">


      <div class="box box-primary">

        <div *ngIf="bookList$.length | async" class="overlay">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        <!--<div class="box-header with-border">-->
          <!--<h3 class="box-title">Books</h3>-->
        <!--</div>-->
        <!-- /.box-header -->
        <!-- form start -->

        <table class="table table-hover">
          <tbody><tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Tags</th>
            <th>Is paid</th>
            <th>Actions</th>
          </tr>
          <tr style="cursor: pointer"  *ngFor="let book of bookList$ | async">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.description}}</td>
            <td>{{book.author}}</td>
            <td> <span style="margin: 0 1px" class="badge bg-blue" *ngFor="let tag of book.tag_list">{{tag.name}}</span> </td>
            <td><span class="label label-success">PAID</span></td>

            <td>
              <button [routerLink]="['/books', book.id]" class="btn btn-success btn-xs">
                <i class="fa fa-bars" aria-hidden="true"></i>
                SHOW
              </button>
              <button [routerLink]="['/books', book.id, 'edit']" class="btn btn-primary btn-xs">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                EDIT
              </button>
              <button (click)="removeBook(book)" class="btn btn-danger btn-xs">
                <i class="fa fa-trash" aria-hidden="true"></i>
                DELETE
              </button>

            </td>

          </tr>





          </tbody>
        </table>


        <div class="box-body">
        </div>
      </div>


    </div>

  </div>
</section>