<table class="table table-hover">

  <thead>

    <tr>
      <th>ID</th>
      <th>Title</th>


      <th>Tags</th>

      <th>Paid/Free</th>

      <th>Actions</th>
    </tr>

  </thead>

  <tbody>

  <tr style="cursor: pointer"  *ngFor="let chapter of chapters">

    <td>
      {{chapter.id}}
    </td>

    <td>
      {{chapter.title}}
    </td>

    <td>
      <span style="margin: 0 1px"
            class="badge bg-blue"
            *ngFor="let tag of chapter.tag_list">{{tag.name}}
      </span>
    </td>


    <td>
      <span *ngIf="chapter.is_paid" class="badge bg-blue">PAID</span>
      <span *ngIf="!chapter.is_paid" class="badge bg-green">FREE</span>
    </td>


    <td>

      <button [routerLink]="['/chapters', chapter.id]" class="btn btn-success btn-xs">
        <i class="fa fa-bars" aria-hidden="true"></i>
        SHOW
      </button>

      <button [routerLink]="['/chapters', chapter.id, 'edit']" class="btn btn-primary btn-xs">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        EDIT
      </button>

      <button (click)="removeChapter(chapter)" class="btn btn-danger btn-xs">
        <i class="fa fa-trash" aria-hidden="true"></i>
        DELETE
      </button>

    </td>

  </tr>

  </tbody>

</table>
