<app-header>{{ 'LOADING' | translate }} header...</app-header>

<app-menu-aside *ngIf="authService.userSignedIn()" [links]="sidebarLinks">{{ 'LOADING' | translate }} menu...</app-menu-aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<toaster-container [toasterconfig]="toastrConfig"></toaster-container>
	<app-breadcrumb></app-breadcrumb>

	<!-- Main content -->

		<router-outlet></router-outlet>



	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!--<app-footer>{{ 'LOADING' | translate }} footer...</app-footer>-->
<app-aside>{{ 'LOADING' | translate }} control sidebar...</app-aside>
