<div class="box box-solid" *ngIf="book">

  <div class="box-header with-border">
    <i class="fa fa-book"></i>
    <h3 class="box-title"> {{ book.title}}</h3>
  </div>

  <div class="box-body">

    <dl class="dl-horizontal">
      <dt>Description:</dt>
      <dd>{{book.description}}</dd>
      <dt>Author:</dt>
      <dd>{{book.author}}</dd>

      <dt>Tags:</dt>
      <dd ><span *ngFor="let tag of book.book_tag_list" class="badge bg-blue">{{tag}}</span> </dd>

    </dl>

  </div>

  <div class="box-footer align right">
    <button class="btn btn-primary " [routerLink]="['/books', book.id, 'edit']">EDIT</button>
    <button class="btn btn-danger" (click)="removeBook()"> DELETE </button>
  </div>

</div>