<div class="box box-primary" *ngIf="book">

  <div *ngIf="loading" class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>



  <form role="form" [formGroup]="form" (submit)="onFormSubmit()" >


    <div class="box-header with-border">
      <h3 class="box-title">Chapter for book <b>{{book.title}}</b></h3>
    </div>

    <div class="box-body">

      <div class="form-group">
        <label>Title: </label>
        <input
                type="text"
                class="form-control"
                formControlName="title"
        >
      </div>

      <div class="checkbox form-group">
        <label>
          is a paid chapter:
          <input  type="checkbox" formControlName="is_paid">
        </label>
      </div>


      <div class="form-group">
        <label>Contents: </label>
        <ckeditor formControlName="contents">
        </ckeditor>
      </div>





      <div class="form-group">
        <label>Tags: </label>

        {{autoCompleteTags}}

        <tag-input
                [separatorKeys]="[188, 13]"
                [blinkIfDupe]="true"
                formControlName="chapter_tag_list"
        >

          <tag-input-dropdown
                  [autocompleteItems]="autoCompleteTags$ | async">
          </tag-input-dropdown>

        </tag-input>

      </div>


    </div>


    <div class="box-footer">
      <button
              type="submit"
              [disabled]="!form.valid"
              class="btn btn-success">
        Submit
      </button>
    </div>

  </form>



</div>

