<section class="content-header">
  <h1>
    Book
    <small>Restricted area</small>
  </h1>
  <!--<ol class="breadcrumb">-->
  <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
  <!--<li><a href="#">Forms</a></li>-->
  <!--<li class="active">General Elements</li>-->
  <!--</ol>-->
</section>

<section class="content">

  <div class="row">

    <div class="col-md-6">


      <div class="box box-primary">

        <div class="box-header">
          <h3 class="box-title">{{bookID$ | async}} - {{ book$.title }} </h3>
          <h5></h5>
        </div>

        <div class="box-body">

        </div>

        <div class="box-footer align right">
          <button class="btn btn-primary "> EDIT</button>
          <button class="btn btn-danger "> DELETE</button>
        </div>

      </div>


    </div>

  </div>
</section>